---
import Layout from "../layouts/Layout.astro";
import InfoBox from "../components/InfoBox.astro";
import Center from "../components/Center.astro";
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import { Image } from "astro:assets";
import titleLogo from "../assets/firebomb_menu_solid.png";
import discordIcon from "../assets/discord-mark-white.svg";
import fbIcon from "../assets/fb-server-icon.png";
---

<Layout title="Home">
  <Center>
    <!-- logo -->
    <div class="my-4">
      <Image src={titleLogo} alt="Firebomb Logo" />
    </div>

    <!-- main info tag -->
    <InfoBox important>
      <h1 class="text-xl text-center">About our Server</h1>
      <p>
        We put together a pack that combines all of our favorite mods of
        Minecraft, and now we're running a server so groups can play together in
        a world with a true economy. ComputerCraft, Create, Mekanism - you can
        browse the full mod list <a
          href="https://github.com/Hri7566/firebomb/tree/main/mods"
          class="text-blue-500 hover:underline hover:text-blue-400">here</a
        >.
      </p>
      <br />
      <p>
        Server Address: <code
          class="bg-zinc-800 rounded-md px-2 py-1 ring-1 ring-white/10"
          >fb.hri7566.info:25565</code
        >
      </p>
      <p>Forge 1.18.2</p>
      <br />
      <a
        target="_blank"
        class="text-blue-500 hover:underline hover:text-blue-400"
        href="https://discord.com/channels/1104864895503179917/1105126942568611900"
        >Read the Rules</a
      >
    </InfoBox>

    <div class="my-10"></div>

    <!-- links -->
    <div class="grid grid-cols-2">
      <LinkButton
        href="https://github.com/Hri7566/firebomb/releases/latest/download/Firebomb.zip"
        color="#ff6600"
        icon={{
          src: fbIcon,
          alt: "Firebomb Logo",
          width: 48,
        }}>Download for Prism Launcher</LinkButton
      >
      <LinkButton
        href="https://discord.gg/WuYpqaUFpC"
        color="#5865F2"
        icon={{
          src: discordIcon,
          alt: "Discord Icon",
          width: 48,
        }}>Join our Discord</LinkButton
      >
    </div>

    <div class="grid">
      <LinkButton
        href="https://ko-fi.com/E1E7ZJD9U"
        color="#29abe0"
        icon={{
          src: "https://storage.ko-fi.com/cdn/cup-border.png",
          alt: "Ko-fi Icon",
          width: 48,
        }}>Keep the server online by supporting us on Ko-fi!</LinkButton
      >
    </div>

    <!-- footer -->
    <Footer />
  </Center>
</Layout>
