---
const year = new Date().getFullYear();
---

<footer class="fixed bottom-0 m-3 min-w-[56rem] text-lg font-semibold">
  <div class="border-t border-[#ffffff10] p-3">
    &copy; <a
      href="https://xcl.hri7566.info"
      class="text-[#ff6600] hover:text-[#ff9900] hover:underline">XCL</a
    >
    {year}
  </div>
</footer>
